In [18]:
from sklearn.datasets import load_breast_cancer
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.neighbors import KNeighborsClassifier
import seaborn as sns

In [19]:
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.model_selection import train_test_split

df = pd.read_csv("C:/Users/hyoji/Downloads/titanic.csv")

# 데이터프레임 확인
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [20]:
# 컬렴명 확인
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [21]:
# 결측치 처리
df["Age"] = df["Age"].fillna(df["Age"].mean())  # 평균 나이로 대체
df["Embarked"] = df["Embarked"].fillna(df["Embarked"].mode()[0])  # 최빈값으로 대체

# 불필요한 컬럼 제거
df.drop(columns=["PassengerId", "Name", "Ticket", "Cabin"], inplace=True)

# 범주형 데이터 인코딩 (Sex, Embarked)
df = pd.get_dummies(df, columns=["Sex", "Embarked"], drop_first=True)

# 레이블 분포 확인 (imbalanced 여부)
label_counts_before = df["Survived"].value_counts()
df.head(), label_counts_before

(   Survived  Pclass   Age  SibSp  Parch     Fare  Sex_male  Embarked_Q  \
 0         0       3  22.0      1      0   7.2500      True       False
 1         1       1  38.0      1      0  71.2833     False       False
 2         1       3  26.0      0      0   7.9250     False       False
 3         1       1  35.0      1      0  53.1000     False       False
 4         0       3  35.0      0      0   8.0500      True       False

    Embarked_S
 0        True
 1       False
 2        True
 3        True
 4        True  ,
 Survived
 0    549
 1    342
 Name: count, dtype: int64)

In [27]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier 
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
from sklearn.preprocessing import StandardScaler

X = df.drop(columns=["Survived"])  # 특성(feature)
y = df["Survived"]  # 라벨(label)

# 훈련 데이터와 테스트 데이터 분할 (80% 훈련, 20% 테스트)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# SVM과 Logistic Regression은 스케일링된 데이터 사용
svm_linear.fit(X_train_scaled, y_train)
y_pred_linear = svm_linear.predict(X_test_scaled)

lr.fit(X_train_scaled, y_train)
y_pred_lr = lr.predict(X_test_scaled)

# 결정 트리 (Decision Tree) 학습 및 평가
dt = DecisionTreeClassifier(random_state=42)
dt.fit(X_train, y_train)
y_pred_dt = dt.predict(X_test)
print("Decision Tree Accuracy:", accuracy_score(y_test, y_pred_dt))
print("Decision Tree confusion matrix", confusion_matrix(y_test, y_pred_dt))

# 랜덤 포레스트 (Random Forest) 학습 및 평가
rf = RandomForestClassifier(random_state=42)
rf.fit(X_train, y_train)
y_pred_rf = rf.predict(X_test)
print("Random Forest Accuracy:", accuracy_score(y_test, y_pred_rf))
print("Random Forest confusion matrix", confusion_matrix(y_test, y_pred_rf))

# SVM (Support Vector Machine) 학습 및 평가
svm_linear = SVC(kernel='linear', random_state=42)
svm_linear.fit(X_train, y_train)
y_pred_linear = svm_linear.predict(X_test)
print("SVM (Support Vector Machine) Accuracy:", accuracy_score(y_test, y_pred_linear))
print("SVM (Support Vector Machine) confusion matrix", confusion_matrix(y_test, y_pred_linear))

# KNN (K-Nearest Neighbors) 학습 및 평가
knn = KNeighborsClassifier(n_neighbors=5)  # k=5 기본값
knn.fit(X_train_scaled, y_train)
y_pred_knn = knn.predict(X_test_scaled)
print("KNN (K-Nearest Neighbors) Accuracy:", accuracy_score(y_test, y_pred_knn))
print ("KNN (K-Nearest Neighbors) confusion matrix", confusion_matrix(y_test, y_pred_knn))

# LR (Logistic Regression) 학습 및 평가
lr = LogisticRegression(random_state=42, max_iter=5000)
lr.fit(X_train, y_train)
y_pred_lr = lr.predict(X_test)
print("Logistic Regression Accuracy:", accuracy_score(y_test, y_pred_lr))
print ("Logistic Regression confusion matrix", confusion_matrix(y_test, y_pred_lr))

Decision Tree Accuracy: 0.7932960893854749
Decision Tree confusion matrix [[88 17]
 [20 54]]
Random Forest Accuracy: 0.8044692737430168
Random Forest confusion matrix [[90 15]
 [20 54]]
SVM (Support Vector Machine) Accuracy: 0.7821229050279329
SVM (Support Vector Machine) confusion matrix [[88 17]
 [22 52]]
KNN (K-Nearest Neighbors) Accuracy: 0.7988826815642458
KNN (K-Nearest Neighbors) confusion matrix [[90 15]
 [21 53]]
Logistic Regression Accuracy: 0.8100558659217877
Logistic Regression confusion matrix [[90 15]
 [19 55]]